<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit <%= @figure.name %></title>
  </head>
  <body>
    <h1> Edit <%= @figure.name %></h1>
    <form action="/figures/<%= @figure.id %>" method="post">
      <input type="hidden" name="_method" id="hidden" value="patch">

      <h3>Name: <input type="text" name="figure[name]" value="<%= @figure.name %>" id="figure_name"> <%= @figure.name %></h3><br>

      <h3>Title(s): </h3>
      <% Title.all.each do |title| %>
        <p><input type="checkbox" name="figure[title_ids][]" id="<%= title.id %>" value="<%= title.id %>" <%='checked' if @figure.titles.include?(title) %>><%= title.name %></p><br>
      <% end %>

      <h3>Add New Title: </h3>
      Title: <input type="text" name="title[name]]">
      <br>

      <h3>Landmark(s): </h3>
      <% Landmark.all.each do |landmark| %>
        <p><input type="checkbox" name="figure[landmark_ids][]" id="<%= landmark.id %>" value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %></p><br>
      <% end %>

      <h3>Add New Landmark: </h3>
      Landmark Name: <input type="text" name="landmark[name]" id="new_landmark">
      Year of Creation: <input type="text" name="landmark[year_completed]" id="new_landmark_year">
      <br>

      <input type="submit" value="Edit Figure">
    </form>
  </body>
</html>
