<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @figure.name %></title>
  </head>
  <body>
    <h1><%= @figure.name %></h1>
      <h3>Name: <%= @figure.name %></h3><br>

      <h3>Title(s): </h3>
      <% @figure.titles.each do |title| %>
        <p><%= title.name %></p><br>
      <% end %>
      <br>

      <h3>Landmark(s): </h3>
      <% @figure.landmarks.each do |landmark| %>
        <p><%= landmark.name %></p><br>
      <% end %>
      <br>

  </body>
</html>
